<div class="container">
	<%= link_to trip_path(trip) do %>
		<div class="card" style="width: 18rem;">
			<div class="thumb">
				<img class="img-fluid" src="<%= trip.country_picture%>" alt="">
			</div>

			<div class="card-body d-flex">
				<span class="fa fa-location-arrow"></span><p><%= trip.country_name %></p>
				<span class="fa fa-calendar ml-3"></span><p><%= trip.start_date.strftime ("%m/%d/%Y") %> - <%= trip.end_date.strftime ("%m/%d/%Y") %></p>
			</div>
				<h4 class="card-title"><%= trip.title %></h4>
				<p class="card-text"><%= trip.description %></p>
				<%= link_to 'Voir le voyage', trip_path(trip), class: "card-link mt-5" %>

				<img src="https://image.freepik.com/free-vector/mafia-old-man-character_23-2148475297.jpg" class="card-trip-user avatar-bordered" />

		</div>
	<% end %>
</div>