<div class="container my-5">

	<div id="trip-pop" class="home_title my-5 d-flex justify-content-center" >
		<h3>Voyages populaires</h3>
	</div>

<!-- Appel de la partial pour afficher les cartes de voyages -->
	<div class="cards-trip">
		<%= render @trips %>
	</div>

  <hr>
<!-- Ici il faudra ajouter les avis des voyageurs sur leurs voyages avec un caroussel-->
<!-- <h3>Avis sur vos voyages</h3> -->
	<div class="home_title my-5 d-flex justify-content-center" >
		<h3>Avis sur vos voyages</h3>
	</div>

  <div class="row">
    <% @events.each do |event|%>
    <div class="col-md-6 col-sm-12 my-2">
      <div class="card mb-3 h-100" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%if event.trip.user.avatar.attached?%>
              <%= image_tag event.trip.user.avatar, alt: 'avatar', class: "card-img" %>
            <%else%>
              <img alt="Avatar" src="https://secureimg.stitcher.com/feedimagesplain328/190254.jpg" id="avatar"  class="card-img" >
            <%end%>

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= event.name_event %></h5>
              <p class="card-text"><%= event.comment %></p>
              <p class="card-text"><small class="text-muted"><%= event.trip.user.email %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>



</div>


