<div class="container my-5">
	<!-- Ligne de présentation du voyage -->
  <div class="row mt-5">
    <div class="col-md-7 text-center">
      <% if @trip.picture.attached? %>
      <%= image_tag @trip.picture, alt: 'picture', size: '500', class: "img-fluid rounded mb-3 mb-md-0" %>
      <% else %>
        <img class="img-fluid rounded mb-3 mb-md-0" src="<%= @trip.country_picture%>" alt="" style="height: 330px;">
      <% end %>

    <% if user_trip_owner?(@trip) %>
      <button type="button" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#myModal">Modifier mon image</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modifier mon image</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= form_tag trip_pictures_path(@trip), multipart: true do %>
              <%= file_field_tag :picture %>
              <%= image_tag @trip.picture, alt: 'picture', size: '100', class: "img-fluid rounded mb-3 mb-md-0" %>
            </div>
            <div class="modal-footer">
              <%= submit_tag "Mettre à jour" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="col-md-5">
      <h3 class="mb-3"><%= @trip.title %></h3>
      <h3>Par <%= link_to user_path(@trip.user) do %><%= @trip.user.email %><% end %></h3>
      <div class="d-flex text-secondary small">
				<div class="flex-fill"><i class="fa fa-location-arrow"></i><%= @trip.country_name %></div>
				<div class="flex-fill"><i class="fa fa-calendar"></i><%= @trip.start_date.strftime ("%m/%d/%Y") %> - <%= @trip.end_date.strftime ("%m/%d/%Y") %></div>
			</div>
      <p class="mt-3"><%= @trip.description%></p>

			<% if user_trip_owner?(@trip) %>
				<div class="mt-3">
					<%= link_to "Modifier", edit_trip_path(@trip), class: "btn btn-primary" %>
					<%= link_to "Supprimer", trip_path(@trip), method: :delete, data: {confirm: "Etes-vous sûr de vouloir supprimer ce voyage ?"}, class: "btn btn-secondary" %>
				</div>
			<% end %>

    </div>
  </div>
  <!-- /.Ligne de présentation du voyage -->

  <!-- Séparation -->
  <hr class="my-5">
  <!-- /.Séparation -->


  <!-- Onglets -->
  <nav class="nav nav-pills nav-justified" id="myTab" role="tablist">
	  <a class="nav-item nav-link active" id="global-tab" data-toggle="pill" href="#global" role="tab" aria-controls="global" aria-selected="true">Vue globale</a>
	  <a class="nav-item nav-link" id="detail-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Vue détaillée</a>
	</nav>
	<!-- ./Onglets -->

	<!-- Affichage des modals -->
	<% @trip.week_weeks_days.each_with_index do |week, index| %>
		<% week.each_with_index do |day, ind| %>
			<%= render partial: "events/new_event_modal", locals: {day: day, ind: ind} %>
		<% end %>
	<% end %>
	<!-- ./Affichage des modals -->

	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Global tab = Vue globale -->
		<div class="tab-pane active" id="global" role="tabpanel" aria-labelledby="global-tab">
			<!-- Affichage du programme du voyage -->
			<div class="container mt-5">
				<% @trip.week_weeks_days.each_with_index do |week, index| %>
				<!-- Affichage de la semaine -->
					<div class="card p-0 shadow my-3">
						<div class="card-header">
							<h5 class="card-title text-center">
								<i class="fas fa-calendar-week mr-2"></i>
								Semaine <%= index + 1 %> : <%= week[0].strftime('%d %B %Y') %> - <%= week[-1].strftime('%d %B %Y') %>
							</h5>
						</div>
						<div class="card-body row row-cols-1 row-cols-md-4 mx-3">
							<% week.each_with_index do |day, ind| %>
								<!-- Affichage du jour -->
								<div class="col mb-4">
									<div class="card h-100 p-0 shadow-sm border">
										<div class="card-header">
											<h5 class="card-subtitle text-center"><%= day.strftime("%A %d/%m") %></h5>
										</div>
										<div class="card-body">
											<!--Affichage des évènements principaux-->
											<% if user_trip_owner?(@trip) %>
												<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dayModal<%=ind%>">
											  	<i class="fas fa-plus mr-2"></i> Ajouter un event
												</button>
											<% end %>
											
											<ul class="list-group list-group-flush">
												<% if @trip.events_by_date(day).length == 0 %>
													<li class="list-group-item text-secondary">Rien de prévu !</li>
												<% end %>
												<% @trip.events_by_date(day).each do |event| %>
													<li class="list-group-item">
														<i class="fas fa-check-circle mr-2"></i><%= event.name_event %>
													</li>
												<% end %>
											</ul>
										</div>
									</div>
								</div>
								<!--./ Affichage jour-->
							<% end %>
						</div>
						<!-- ./Affichage du programme du voyage -->
					</div>
					<!-- ./ Affichage semaine -->
				<% end %>
			</div>
		</div>
		<!-- ./Global tab = Vue globale -->
		<div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
			<!-- Accordeon -->
		  <div class=" container mt-5 accordion" id="accordionWeek">
		    <!-- Affichage semaines dans une card -->
		    <div class="card p-0">
		      <% @trip.week_weeks_days.each_with_index do |week, week_num| %>
		        <!-- Affichage numéro de semaine dans le card-header -->
		        <div class="card-header" id="headingWeek<%= week_num %>" >
		          <h2 class="mb-0">
		            <button class="btn btn-block text-left d-flex text-grey" type="button" data-toggle="collapse" data-target="#collapseWeek<%= week_num %>" aria-expanded="true" aria-controls="collapseWeek<%= week_num %>">
		              <!-- Semaine -->
		              <div class="flex-fill">
		                <i class="fa fa-calendar mr-2"></i>
		                Semaine <%= week_num + 1 %> -
		                <%= week[0].strftime('%d %B %Y') %>
		              </div>
		              <!-- ./ Semaine -->
		              <!-- Pays -->
		              <div>
		                <i class="fa fa-location-arrow"></i>
		                <%= @trip.country_name %>
		              </div>
		              <!-- ./ Pays -->
		              <!-- A FAIRE Afficher nom des villes visitées dans la semaine -->
		            </button>
		          </h2>
		        </div>
		        <!-- ./Card header -->

		        <!-- Affichage Journée -->
		        <div id="collapseWeek<%= week_num %>" class="collapse show" aria-labelledby="headingWeek<%= week_num %>" data-parent="#accordionWeek">
		          <% week.each_with_index do |day, index| %>
		          	<hr>
		            <div class="card-body px-3">
		              <!-- Jour -->
		              <div class="d-flex align-items-center justify-content-between">
		                <div class="ml-5">
		                  <h2 class="h6 text-primary">
		                    <i class="far fa-dot-circle mr-2"></i>
		                    J<%= index + 1 %> - <%= day.strftime('%A %d %B') %>
		                  </h2>
		                </div>
		                <div class="ml-5 align-items-center">
		                  <!-- Affichage des boutons uniquement pour le trip owner -->
		                  <% if user_trip_owner?(@trip) %>
		                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dayModal<%=index%>">
											  	<i class="fas fa-plus mr-2"></i> Ajouter un event
												</button>
		                  <% end %>
		                  
		                  <!-- ./Affichage des boutons uniquement pour le trip owner -->
		                  <button id="collapse-btn" class="btn btn-primary mr-5 viewMore" type="button" data-toggle="collapse" data-target="#collapseWeek<%= week_num %>Day<%= index %>" aria-expanded="true" aria-controls="collapseWeek<%= week_num %>Day<%= index %>">
		                  </button>
		                </div>
		              </div>
		              <hr>
		              <% if @trip.events_by_date(day).length == 0 %>
		                <div class="collapse show text-secondary text-center" id="collapseWeek<%= week_num %>Day<%= index %>">
		                  Rien de prévu !
		                </div>
		              <% else %>
		              <%= render partial: "events/event", collection: @trip.events_by_date(day),
		           as: :event, locals: {index: index, day: day, week_num: week_num} %>
		              <% end %>
		              <!--./ Jour -->
		            </div>
		          <% end %>
		        </div>
		        <!--./ Affichage Journée-->
		      <% end %>
		      <!-- ./ Affichage numéro de semaine dans le card-header -->
		    </div>
		    <!--./ Affichage semaines dans une card -->
		  </div>
		  <!-- ./ Accordeon -->
		</div>
	</div>
	<!-- ./Tab panes -->

</div>