<div class="container my-5">
	<!-- Ligne de présentation du voyage -->
  <%= render partial: "trips/trip_show_header", locals: {trip: @trip} %>
  <!-- /.Ligne de présentation du voyage -->

  <!-- Séparation -->
  <hr class="my-5">
  <!-- /.Séparation -->

  <div class="map-div container-fluid my-5 d-flex justify-content-center">
    <div id="map"
    style="width: 100%; height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <!-- Onglets -->
  <nav class="nav nav-pills nav-justified" id="myTab" role="tablist">
	  <a class="nav-item nav-link active" id="global-tab" data-toggle="pill" href="#global" role="tab" aria-controls="global" aria-selected="true">Vue globale</a>
	  <a class="nav-item nav-link" id="detail-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Vue détaillée</a>
	</nav>
	<!-- ./Onglets -->




	<!-- Affichage des modals -->
	<% @trip.week_weeks_days.each_with_index do |week, index| %>
		<% week.each_with_index do |day, ind| %>
			<%= render partial: "events/new_event_modal", locals: {index: index, day: day, ind: ind} %>
		<% end %>
	<% end %>
	<!-- ./Affichage des modals -->

	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Global tab = Vue globale -->
		<%= render partial: "trips/global_tab", locals: {trip: @trip} %>
		<!-- ./Global tab = Vue globale -->
		<!-- Detail tab = Vue détaillée -->
		<%= render partial: "trips/detail_tab", locals: {trip: @trip} %>
		<!-- ./Detail tab = Vue détaillée -->


	</div>
	<!-- ./Tab panes -->

</div>
