<!-- Modal -->
<div class="modal fade" id="myModalImageUrlNew<%= event.id %>" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter une image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <%= form_with model: @note, url: trip_event_notes_path(@trip, event), method: "post", local: true do |form| %>

        <div class="form-group mb-4">
          <%= form.label :image_url, "Importer une photo à partir d'une URL" %>
          <%= form.text_area :image_url, class: 'form-control', placeholder: 'https://images.unsplash.com/photo' %>
        </div>
      </div>


      <div class="modal-footer text-center">
        <div class="container">
          <%= form.submit 'Enregistrer mon image', class: 'btn btn-primary btn-lg mx-auto' %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>