<div class="card grab mt-4 drag p-0 border h-100" draggable="true">

  <!-- Affichage des boutons uniquement pour le trip owner -->

  <% if user_trip_owner?(note.event.trip) %>
    <div class="justify-self-end">

      <a type="button" data-toggle="modal" class="text-info" data-target="#myModalNoteEdit<%= note.id %>"><i class="fas fa-pencil-alt" title="Modifier la note"></i></a>

      <%= render partial: "notes/edit_note_modal", locals: {event: note.event, note: note} %>

      <%= link_to trip_event_note_path(note.event.trip, note.event, note), method: :delete, data: {confirm: "Etes-vous sûr?"} , class: "text-info" do %><i class="fas fa-trash-alt" title="Supprimer la note"></i><% end %>
    </div>
  <% end %>


  <% unless note.title.to_s.empty?  %>
    <div class="card-body">
      <h5 class="card-title"><%= note.title %></h5>
    </div>
  <% end %>


  <% if note.image.attached? %>
    <div class="card-body">
      <%= image_tag note.image, alt: 'image', class: "img-fluid" %>
    </div>
  <% end %>

  <% unless note.image_url.to_s.empty?  %>
    <div class="card-body">
      <img src="<%= note.image_url %>" class="img-fluid">
    </div>
  <% end %>


  <% unless note.text.to_s.empty? %>
    <div class="card-body">
      <p class="card-text"><%= note.text %></p>
    </div>
  <% end %>

</div>