<div class="container my-5">
  <div class="container py-3 mx-auto col-7 my-5">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <h2 class="my-5 text-center">Créer des Notes</h2>

        <p>*Vous avez la possibilité d'ajouter une ou plusieurs informations.</p>

        <%= form_with model: @note, url: trip_event_notes_path(@trip, @event), method: "post" do |form| %>

        <div class="form-group mb-4">
          <%= form.label :title, 'Un titre ou du texte en gras', class: 'font-weight-bold' %>
          <%= form.text_field :title, class: 'form-control', placeholder: 'Tour Eiffel'%>
        </div>

        <div class="form-group mb-4">
          <%= form.label :text, 'Vos notes, informations ou liens', class: 'font-weight-bold' %>
          <%= form.text_area :text, class: 'form-control', placeholder: 'Viste des musées de Paris'%>
        </div>

        <hr>

        <div class="form-group mb-4">
          <%= form.label :image_url, "Importer une photo à partir d'une URL", class: 'font-weight-bold' %>
          <%= form.text_field :image_url, class: 'form-control', placeholder: 'https://images.unsplash.com/photo' %>
        </div>

        <div class="form-group mb-4">
          <%= form.label :image, 'Importer une photo de votre disque-dur', class: 'font-weight-bold' %>
          <br>
          <%= form.file_field :image %>
        </div>

        <div class="actions mt-5 text-center mb-5">
          <%= form.submit 'Enregistrer mes Notes', class: 'btn btn-primary btn-lg btn-block' %>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>