<% content_for :minihead do %>
<div class="formhead">
<h1 class="h1 formtitle">Créer un compte</h1>
</div>
<% end %>

<div class="container py-3 mx-auto col-7 my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" } do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Mot de passe" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmes ton mot de passe" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "S'inscrire", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>

        <br>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
