<div class="container">
	<br>
	<h1 class="h3 mb-5">Bienvenue sur le site BonVoyage !</h1>
	<br>
	<p>
		Vous vous êtes inscrit sur le site <a href='<%= @url %>'>BonVoyage</a>. en utilisant l'email suivant : <%= @user.email %>.
	</p>
	<br>
	<p>
		Pour accéder à votre espace utilisateur, connectez-vous sur via : <a href="<%= @sign_in_url %>"><%= @sign_in_url %></a>.
	</p>

	<br>
	<p> À très vite sur  <a href='<%= @url %>'>BonVoyage</a> ! </p>

	<em>La Team de BonVoyage vous remercie.</em>

</div>

