<div class="mx-5 mt-5">
    <% if event.is_past? %>
      <!-- Si le voyage est passé, si je suis le créateur du voyage, si il n'y a pas de commentaire -->
      <% if user_trip_owner?(@trip) && event.comment == nil %>
        <button type="button" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#myModal<%= index %>Day<%= ind %>"><i class="fas fa-plus mr-2"></i> Ajouter un commentaire</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal<%= index %>Day<%= ind %>" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Ajouter un commentaire</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <%= form_tag trip_event_path(@trip, event), method: "patch" do %>
                    <div class="form-group mb-2">
                      <%= text_area_tag :comment, nil, class: 'form-control' %>
                    </div>
                </div>
                <div class="actions text-center mb-2">
                  <%= submit_tag 'Enregistrer mon commentaire', class: 'btn btn-primary btn-sm' %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>

      <!-- Si le voyage est passé, si je suis le créateur du voyage, si il y a déjà un commentaire -->
      <% if user_trip_owner?(@trip) && event.comment != nil %>
        <div class="card-footer border">
          <h5>Commentaire :</h5>
            <%= event.comment %>
        </div>
        <div class="">
          <button type="button" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#myModal<%= index %>Day<%= ind %>"><i class="fas fa-pencil-alt mr-2"></i> Modifier mon commentaire</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal<%= index %>Day<%= ind %>" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modifier mon commentaire</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <%= form_tag trip_event_path(@trip, event), method: "patch" do %>
                    <div class="form-group mb-2">
                      <%= text_area_tag :comment, nil, class: 'form-control' %>
                    </div>
                </div>
                <div class="actions text-center mb-2">
                  <%= submit_tag 'Enregistrer mon commentaire', class: 'btn btn-primary btn-sm' %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- Si le voyage est passé, si je ne suis pas le créateur du voyage, si il y a un commentaire -->
      <% if !user_trip_owner?(@trip) && event.comment != nil %>
        <div class="card-footer border">
          <h5>Commentaire :</h5>
            <%= event.comment %>
        </div>
      <% end %>

    <% end %>
</div>