<div id="event_<%=event.id%>">
  <div class="card mx-5 p-0 border mt-5">

    <div class="card-header h6 d-flex justify-content-between">
      <div class="">
        <i class="far fa-clock mr-2"></i>
        <%= event.start_time.strftime('%H:%M') unless event.start_time.nil? %>
        - <%= event.end_time.strftime('%H:%M') unless event.end_time.nil? %>
      </div>
      <div class="">
        <i class="fas fa-map-marker-alt mr-2"></i>
        <%= event.city_name %>
      </div>
      <div class="">
        <i class="fas fa-directions mr-2"></i>
        <%= event.name_event %>
      </div>

        <div class="">
          <!-- Affichage des boutons uniquement pour le trip owner -->
        <% if !user_trip_owner?(event.trip) %>
          <!-- Bouton pour copier-->
          <%= link_to copy_trip_event_path(event.trip, event), class: "mr-2" do%> <i class="fas fa-copy" title="Copier l'événement"></i><% end %>
        <% else %>
          <!-- Bouton pour modifier-->
          <a type="button" data-toggle="modal" class="text-primary" data-target="#myModalEdit<%= event.id %>"><i class="fas fa-pencil-alt" title="Modifier l'évènement"></i></a>
          <!-- Bouton pour supprimer-->
          <%= link_to trip_event_path(event.trip, event), method: :delete, data: {confirm: "Etes-vous sûr?"} , remote: true do %><i class="fas fa-close-alt" title="Supprimer l'évènement"></i><% end %>
        <% end %>
        </div>

      <!-- ./Affichage des boutons uniquement pour le trip owner -->
    </div>

    <div class="container">
      <% if user_trip_owner?(event.trip) %>
        <div class="text-center mt-3">
          <!-- Bouton pour ajouter-->
          <button type="button" data-toggle="modal" class="btn btn-outline-event mb-3" data-target="#myModalTitleNew<%= event.id %>"><i class="fas fa-plus mr-2"></i> Ajouter un titre</button>
          <button type="button" data-toggle="modal" class="btn btn-outline-event mb-3" data-target="#myModalNoteNew<%= event.id %>"><i class="fas fa-plus mr-2"></i> Ajouter une note</button>
          <button type="button" data-toggle="modal" class="btn btn-outline-event mb-3" data-target="#myModalImageUrlNew<%= event.id %>"><i class="fas fa-plus mr-2"></i> Ajouter une image</button>
          <button type="button" data-toggle="modal" class="btn btn-outline-event mb-3" data-target="#myModalImageNew<%= event.id %>"><i class="fas fa-plus mr-2"></i> Uploader une image</button>

        </div>

        <%= render partial: "notes/new_title_modal", locals: {event: event} %>
        <%= render partial: "notes/new_note_modal", locals: {event: event} %>
        <%= render partial: "notes/new_image_url_modal", locals: {event: event} %>
        <%= render partial: "notes/new_image_modal", locals: {event: event} %>

      <% end %>
      <div class="card-columns thumbnail-sortable">
        <%= render event.notes %>
      </div>
    </div>
  </div>

<%= render partial: "events/comment", locals: {event: event} %>

</div>
