<!DOCTYPE html>
<html>
  <head>
    <title>BonVoyage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <script src="https://kit.fontawesome.com/f5693b1d74.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= render 'shared/navbar'%>
    <%= render 'shared/flash'%>

    <% if current_page?(root_path) %>
      <%= render 'shared/header' %>
      <%= render 'shared/banner' %>
    <% else %>
      <%= render 'shared/miniheader' %>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer'%>

  </body>
</html>
