<!DOCTYPE html>
<html>
  <head>
    <title>BonVoyage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f5693b1d74.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/flash'%>
    <%= yield %>
  </body>
</html>
